@import '../../sass/variables';

.each-fade {
  height: 100%;
  width: 100%;

  img {
    display: block;
    height: 25vw;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.react-slideshow-container + ul.indicators {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  display: grid;
  grid-auto-flow: column;
  grid-gap: 1rem;
  gap: 1rem;

  margin-top: 0;
  margin-bottom: 1rem;

  li {
    display: block;
    height: 1.7rem;
    width: 1.7rem;
    padding: 0;
  }

  .each-slideshow-indicator {
    height: 100%;
    width: 100%;

    border-radius: 50%;
    
    background-color: $color-d;
    opacity: 0.5;

    &::before {
      display: none;
    }

    &.active,
    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}