@import '../../sass/variables';

.SizedImageContainer {
  position: relative;
  height: 34vw;
  width: 100%;
  border-radius: 3px;

  &Border {
    border: 6px solid $color-grey-pink-3;

    * {
      border-radius: 0;
    }
  }
}