// COLORS
$color-a: #790c5a;
$color-b: #cc0e74;
$color-c: #e6739f;
$color-d: #f1d4d4;

$color-grey-pink: #e2b5e0;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;