@import '../../sass/variables';

.NavLink {
  text-transform: uppercase;
  text-decoration: none;
  display: block;

  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: 0.06rem;
  color: $color-grey-pink-2;

  transition: color 200ms ease-in;

  &:hover,
  &:focus {
    color: $color-c;
  }

  &:active {
    color: $color-d;
  }
}