@import '../../sass/variables';

.H3 {
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 0.12rem;
  color: $color-a;
}

.H4 {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 0.08rem;
  line-height: 1;
  color: $color-grey-pink-3;
}

.H5 {
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 0.12rem;
  color: $color-grey-pink-2;
}