@import '../../sass/variables';

.H3 {
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 0.12rem;
  color: $color-a;
}

.H4 {
  font-weight: 700;
  font-size: 3.2rem;
  letter-spacing: 0.08rem;
  line-height: 1.25;
  color: $color-grey-pink-3;
  margin-bottom: 1.5rem;
}

.H5 {
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 0.12rem;
  color: $color-grey-pink-2;
}