@import '../../sass/variables';

.H3 {
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 0.12rem;
  color: $color-grey-pink-2;
}

.H5 {
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 0.12rem;
  color: $color-grey-pink-2;
}