@import '../../../sass/variables';

.Search {
  &Container {
    display: grid;
    grid-auto-flow: column;
    align-items: center;

    grid-gap: 0.2rem;
    gap: 0.2rem;
  }

  &Button {
    height: 45%;
    transition: transform 200ms ease-in;
    
    &:hover,
    &:focus {
      transform: scale(1.2);
    }

    &:active {
      transform: scale(1.1);
    }
    
    img {
      width: 100%;
      height: 100%;
    }
  }

  &Input {
    height: 2.2rem;
    width: 14rem;
    outline: none;
    border-radius: 0;
    border: 1px solid $color-grey-light-3;
    background-color: $color-grey-light-2;
    padding: 0 0.6rem;
    font-family: inherit;
    color: $color-grey-pink-1;

    transition: all 200ms ease-in;

    &:focus {
      border: 1px solid $color-grey-dark-1;
      background-color: $color-white;
    }
  }
}