.Header {
  grid-column: center-start / center-end;

  padding: 0.5rem 0;

  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr min-content;

  grid-column-gap: 4rem;
  column-gap: 4rem;

  &Bar {
    grid-column: full-start / full-end;
  }

  &Logo {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
  }

  &LinkList {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    padding: 0 0 3rem 0;
  }
}
