@import '../../../sass/variables';

.BtnLink {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-grey-pink-1;

  font-size: 1.4rem;
  letter-spacing: 1px;

  transition: color 200ms ease-in;

  &.small {
    font-size: 1.2rem;
  }

  &:hover,
  &:focus {
    color: $color-black;
  }

  &:active {
    color: $color-grey-light-3;
  }
}